*{
    font-family: 'Be Vietnam Pro', sans-serif;
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body{
    background-image: url(/imagenes/bg-tablet-pattern.svg) ;
    font-size: 16px;
    background-repeat: space;
    animation: fondo 15s infinite;
    background-color: #FFFFFF;
    background-position: top right;
}

@keyframes fondo {
    50%{
        background-position: bottom;
    }
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 1rem;
    flex-wrap: wrap;
}

nav, .hdr-btn{
    display: none;
}

nav a:hover{
    color: #B3B2B7;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin: 2rem 0;
}

main img{
    height: 15rem;
    width: 16rem;
}

.main-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center ;
    flex-wrap: wrap;
    height: 20rem;
}

.testimonios{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 30rem;
    justify-content: space-around;
}

.testimonios img{
    width: 70px;
    height: 70px;

}

.dif-titulo{
    background-color: rgb(255, 239, 234);
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.dif-titulo h3{
    padding: 0.5rem;
    font-size: 0.8rem;
}


.testimonio1, .testimonio3, .testimonio2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 15rem;
}


.testimonio1, .testimonio3{
    display: none;
}


.puntitos{
    color:#F3613C;
    display: flex;
    justify-content: center;
}

p{
    color: #B3B2B7;
}

h1, h2, h3{
    text-align: center;
}

.diferencias-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    height: 14rem;
}

.main-text p{
    text-align: center;
}

.diferencias{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.dif{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 45rem;
    padding: 1rem;
}

.dif>div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 12rem;
}

form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}




button, input[type= submit]{
    background-color: #F3613C;
    border-radius: 50px;
    border: none;
    color: #FFFFFF;
    padding: 10px 25px;
}

.getStarted{
    font-size: 13.1806px;
}

.getStarted:hover{
    box-shadow: 0px 5px 15px 5px rgba(243,97,60,0.48);
}




input[type=search]{
    background-color: #FFFFFF;
    border-radius: 30px;
    border: none 0 transparent;
    height: 2rem;
    padding: 1.3rem;
}

input[type=search]:focus{
    border: #F3613C solid 0.3rem;
}

a{
    text-decoration: none;
    color: #FFFFFF;
}
.footer-1{
    background-color:#F3613C;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3rem 1rem;
    height: 15rem;
    justify-content: space-between;
}


.footer-1 h2{
    color: #FFFFFF;
}

.footer-1 button{
    color: #F3613C;
    background-color: #FFFFFF;
    font-weight: bold;
}

.footer-1 button:hover{
    color:  rgb(250, 163, 137) ;
}

.footer-2{
    background-color:#1E1E26;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 30rem;
    padding: 1rem 0.5rem;
}

.footer-2 input[type="submit"]:hover {
    background-color:  rgb(255, 183, 161);
}

.footer-2 p{
    font-size: 12.5px;
    color: #8C8C94;
}

.footer-nav{
    display: flex;
    flex-direction: row;
    padding: 3rem;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 20rem;
    height: 12rem;
    font-size: 0.9rem;
}

.footer-nav .nav1 a:hover, .footer-nav .nav2 a:hover{
    color: #F3613C;
}

.nav1, .nav2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.nav2{
    height: 5rem;
}

.redes-y-logo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 5rem;
}

.redes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 18rem;
    
}

.redes img{
    height: 2rem;
    width: 2rem;
}



@media screen and (min-width: 375px) {

    header{
        padding: 4rem 8rem;
    }

    nav, .hdr-btn{
        display: flex;
    }

    .burger{
        display: none;
    }

    .logo{
        display: flex;
        align-items: center;
    }

    .div-nav{
        display: flex;        
        align-items: center;
    }

    nav{
        justify-content: space-between;
        width: 30rem;
    }

    nav a{
        color: #1E1E26;
        font-weight: 500;
    }

  
    main{
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 5rem 15rem;
    }

    .main-text{
        order: 1;
        height: 20rem;
        width: 20rem;
        align-items: flex-start;
        justify-content: space-between;
    }

    .main-text h1, .main-text p, .diferencias-text h2, .diferencias-text p{
        text-align:left ;
    }

    .main-img{
        display: flex;
        order: 2;
    }

    main img{
        height: 30rem;
        width: 34rem;
    }

    .diferencias{
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin: 0 15rem;
    }

    .diferencias-text{
        width: 20rem;
    }

    .dif{
        width: 25rem;
        padding: 0%;
        justify-content: space-between;
        height: 30rem;
        position: relative;
        right: 5rem;
    }

    .dif div p{
        position: relative;
        left: 5rem;
    }

    .dif-titulo{
        background-color: transparent;
    }

    .testimonios>div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
       
    }

    .puntitos{
        display: none;
    }

    .testimonio1, .testimonio3{
        display: flex;
    }

    .testimonio1, .testimonio2, .testimonio3{
        flex-direction: column;
        background-color: #FAFAFA;
        justify-content: space-around;
        margin: 0 1rem;
        padding: 1rem;
    }

    .footer-1{
        flex-direction: row;
        justify-content: space-around;
    }
    .footer-1 h2{
        width: 20rem;
        text-align: left;
    }

    .footer-2{
        flex-direction: row;
        align-items: flex-start;
        height: 15rem;
        padding: 4rem 5rem 0;
    }

    form{
        order: 3;
        align-items: flex-start;
        justify-content: space-between;
        width: 18rem;
    }

    .footer-nav{
        order: 2;
        height: 8rem;
        padding: 0%;
        width: 25rem;
    }

    .redes-y-logo{
        order: 1;
        justify-content: space-between;
        height: 8rem;
    }


    .redes{
        order: 1;
        width: 10rem;
    }

    .redes img {
        height: 1.5rem;
        width: 1.5rem;
    }

    .redes a img:hover{
        fill: #F3613C;
    }


    .footer-2 p{
        display: flex;
        order: 4;
        position: absolute;
        top: 135rem;
        left: 70rem;
    
    }

   
    
}