*{
    font-family: 'Be Vietnam Pro', sans-serif;
    box-sizing: border-box;
}

body{
    background-image: url(/imagenes/bg-tablet-pattern.svg) ;
    font-size: 16px;
    background-repeat: space;
    animation: fondo 15s infinite;
    background-color: #FFFFFF;
    background-position: top right;
}

@keyframes fondo {
    50%{
        background-position: bottom;
    }
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 0;
}

nav, .hdr-btn{
    display: none;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin: 2rem 0;
}

main img{
    height: 15rem;
    width: 16rem;
}
.testimonios{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
    
}

.dif-titulo{
    background-color: rgba(243, 97, 60, 0.2);
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.testimonio2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.testimonio1, .testimonio3{
    display: none;
}

.puntitos{
    color:#F3613C;
    display: flex;
    justify-content: center;
}

p{
    color: #B3B2B7;
}

h1, h2, h3{
    text-align: center;
}

.main-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.main-text p{
    text-align: justify;
}

.diferencias{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.diferencia{
    
}

button, input[type= submit]{
    background-color: #F3613C;
    border-radius: 30px;
    border: none;
    color: #FFFFFF;
    padding: 10px 25px;
}

input[type=search]{
    background-color: #FFFFFF;
    border-radius: 30px;
    border: solid;
    height: 2rem;
    padding: 1.3rem;
}

a{
    text-decoration: none;
    color: #FFFFFF;
}
.footer-1{
    background-color:#F3613C;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3rem 1rem;

}

.footer-1 h2{
    color: #FFFFFF;
}

.footer-1 button{
    color: #F3613C;
    background-color: #FFFFFF;
    font-weight: bold;
}



.footer-2{
    background-color:#1E1E26;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 30rem;
}

.footer-nav{
    display: flex;
    flex-direction: row;
    padding: 2rem;
    justify-content: space-evenly;
}

.nav1, .nav2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.redes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 15rem;
}



@media screen and (min-width: 375px) {

    body{
        background-image: url(/imagenes/bg-simplify-section-desktop.svg);
    
    }


    
}